{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p>Il y a eu une erreur d'authentification</p>
</div>
{% endif %}

<h1>Inscription</h1>
<br><br>

<div class="shadow p-4 mb-5 bg-body rounded">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        
        <section>
            <article>
                {{ form.as_p }}
                <br><br>
                <input type="submit" value="Submit" class="submit-btn btn btn-secondary">
            
            </article>
        </section>

    </form>
</div>
<br><br>

{% endblock %}