{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<section>
    <article>
        <h1><img src="{% static 'images/icon_maths.png' %}" alt="Categorie x" class="element" />Evenement Maths</h1>
        <p>Cet evenement consiste à .....</p>

        <ul class="evenement_prop">
            <li>Date :</li>
            <li>Lieu :</a></li>
            <li>Participants:</li>
            <li><a href="#">Organisateur</a></li>
            <li><a class="bouton_inscription" href="#"><button>M'inscrire</button></a></li>
        </ul>

    </article>
</section>

<section>
    <article>
        <h1><img src="{% static 'images/icon_sport.png' %}" alt="Catégorie x" class="element" />Evenement Sport</h1>
        <p>Cet evenement consiste à .....</p>

        <ul class="evenement_prop">
            <li>Date :</li>
            <li>Lieu :</a></li>
            <li>Participants:</li>
            <li><a href="#">Organisateur</a></li>
            <li><a class="bouton_inscription" href="#"><button>M'inscrire</button></a></li>
        </ul>

    </article>
</section>
{% endblock %}