<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Chamilo 2.0</title>
</head>
<body>
    <header>
        <h1>Chamilo 2.0</h1>
        <img src="Ima_logo.png" class="logo" alt="Logo IMA" />

        <nav>
            <ul class="navbar_links">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Recherche</a></li>
                <li><a href="#">Mes évènements</a></li>
                <li><a href="#">A Propos</a></li>
            </ul>
        </nav>
        <a class="bouton" href="file:///E:/Documents/Projet_methodologie/Chamilo%202.0%20html_css/Projet_html.html"><button>Deconnexion</button></a>
    </header>
    <section>
        <article>
            <h2><img src="icon_sport.png" alt="Catégorie x" class="element" />Créer un évènement : </h2>
            <p>Vous pouvez créer un évènement ici :</p>

            <ul class="evenement_prop">
                <h1><input type="date" max="2023-01-01" min="2021-10-20" name="the_date" ></h1>
                <h1><select name="my_html_select_box" required="" >
                <option>Matin</option>
                <option>Après-Midi</option> </select>
              </a></h1>
                <h1><textarea cols="40" rows="5" placeholder="Ajouter des commentaires :" style="background-color: #ECECEC; color: black; font-weight: bold; font-size:12pt"></textarea></h1>
                <h1><a><input type="file" /></a></li>
                <h1><textarea cols=25 rows="1" placeholder="Ajouter un titre :" style="background-color: #ECECEC; color: black; font-weight: bold; font-size:12pt"></textarea></h1>
                <br>
                <h1><a class="bouton_inscription" href="#"><button>Créer</button></a></h1>
            </ul>
        </article>
    </section>

    <section>
        <article>
            <h2><img src="icon_sport.png" alt="Catégorie x" class="element" />Mes évènements crées : </h2>
            <p>Vous pouvez modifier un évènement ici :</p>

            <ul class="evenement_prop">
                <li>Titre :</li>
                <li>Horaire :</a></li>
                <li>Nombre de participants :</li>
                <li><a>Commentaires : </a></li>
                <li>Documents :</li>
                <li>Date :</li>
                <br>
                <li><a class="bouton_inscription" href="#"><button>Modifier</button></a></li>
                <li><a class="bouton_inscription" href="#"><button>Dupliquer</button></a></li>
                <li><a class="bouton_inscription" href="#"><button>Supprimer</button></a></li>
            </ul>

        </article>
    </section>

    <footer>

        <a href="#">Page suivante</a>
        <a href="mailto:votrenom@bidule.com">Envoyez-moi un e-mail!</a>

    </footer>

</body>
</html>
