


* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #24252A;
}



li,h1,button, a {
    font-family: Dayrom, serif;
    font-weight: normal;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 10%;

}
    header h2 {
        padding: 30px 20px;
        color: #edf0f1;
    }

.logo {
    display: flex;
    margin-top: 10px;
    margin-right: auto;
}

.navbar_links {
    list-style: none;

}
.navbar_links li {
    display: inline-block;
    padding: 30px 20px;

}

.navbar_links li a {
    transition: all 0.3s ease 0s;

}

.navbar_links li a:hover {
    color: #0088a9;

}


button {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button:hover {
    background-color: rgba(0,136,169,0.8);
}

section {
    display: flex;
    margin-bottom: 20px;
    padding: 30px 10%;
    background-color: #0088a9;
}

article {
    color: #edf0f1;
    text-align: justify;
    margin-right: 20px;
    flex: 3;
}

.element {
    vertical-align: middle;
    margin-right: 8px;

}

article p {
    padding: 20px 10%;
    border-radius: 50px;
}

article button {
    margin-right:auto;
}

.evenement_prop li {
    display: inline-block;
    padding: 30px 3%;
}
.evenement_prop h1 {
    display: inline-block;
    padding: 30px 1.5%;
}


footer {
    display: flex-end;
    padding-top: 25px;
    padding: 25px 8%;
}

    footer a {
        font-size: 0.8em;
        margin-left: 15%;
        margin-right: 18%;
    }
