* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 10%;
}

    header h1 {
        padding: 30px 20px;
        color: #edf0f1;
    }

.logo {
    display: flex;
    margin-top: 10px;
    margin-right: auto;
}

li,button, a {
    font-family: Dayrom, serif;
    font-weight: normal;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

button {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

    button:hover {
        background-color: rgba(0,136,169,0.8);
    }

section {
    display: flex;
    margin-bottom: 20px;
    padding: 30px 10%;
    background-color: #0088a9;
}
    
article {
    color: #edf0f1;
    text-align: justify;
    margin-right: 20px;
    flex: 3;
}

.alert{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

footer {
    display: flex-end;
    padding-top: 25px;
    padding: 25px 8%;
}

    footer a {
        font-size: 0.8em;
        margin-left: 15%;
        margin-right: 18%;
    }
