
.element {
    vertical-align: middle;
    margin-right: 8px;

}

article p {
    padding: 20px 10%;
    border-radius: 50px;
}

article button {
    margin-right:auto;
}

.evenement_prop li {
    display: inline-block;
    padding: 10px 5%;
}
